<div class="row panel panel-default col-sm-offset-1 col-sm-10" >
	<div class="col-xs-1">
		<img src="../img/chuck-template.png" width="30px"/>
	</div>
	<div class="col-xs-11">
		<p><span class="joke-text"></span> (#<span class="joke-id"></span>)</p>
	</div>
</div>
