<template class="joke-template" onload="console.log('templateLoad')">
	<div class="row panel panel-default col-sm-offset-1 col-sm-10" >
		<div class="col-xs-1">
			<img src="../img/chuck-template.png" width="30px"/>
		</div>
		<div class="col-xs-11">
			<p><span class="joke-text"></span> (#<span class="joke-id"></span>)</p>
		</div>
	</div>
</template>

<script>
var JokeItemProto;
var JokeItem;

// Encapsulating & hiding
(function() {
	var importDoc = document.currentScript.ownerDocument; // this page
	var jokeTemplate = importDoc.querySelector('.joke-template');
	console.log(jokeTemplate);

	// Creating prototype
	JokeItemProto = Object.create(HTMLElement.prototype);

	JokeItemProto.createdCallback = function() {
		console.log('createdCallback');
		this.innerHTML = jokeTemplate.cloneNode(true).innerHTML;
	};
	JokeItemProto.load = function(id, joke) {
		this.querySelector('.joke-id').innerText = id; // ID of joke
		this.querySelector('.joke-text').innerHTML = joke; // text of joke, still XSS vulnerability
	};
	// Registering custom element
	JokeItem = document.registerElement('joke-item', {prototype: JokeItemProto});
})();
</script>