<template class="joke-template">
	<div class="row panel panel-default col-sm-offset-1 col-sm-10" >
		<div class="col-xs-1">
			<img src="../img/chuck-template.png" width="30px"/>
		</div>
		<div class="col-xs-11 joke-main">
			<span class="joke"></span>
			<span class="joke-id"></span>
		</div>
	</div>
</template>

<template class="joke-shadow-template">
	<p>
		<content select=".joke"></content> 
		(#<content select=".joke-id"></content>)
	</p>
</template>

<script>
var JokeItemProto;
var JokeItem;

// Encapsulating & hiding
(function() {
	var importDoc = document.currentScript.ownerDocument; // this page
	var jokeTemplate = importDoc.querySelector('.joke-template');
	var jokeShadowTemplate = importDoc.querySelector('.joke-shadow-template');

	// Creating prototype
	JokeItemProto = Object.create(HTMLElement.prototype);

	JokeItemProto.createdCallback = function() {
		console.log('createdCallback');
		this.innerHTML = jokeTemplate.cloneNode(true).innerHTML;
		var root = this.querySelector('.joke-main').createShadowRoot();
		root.innerHTML = jokeShadowTemplate.cloneNode(true).innerHTML;
	};
	JokeItemProto.load = function(id, joke) {
		this.querySelector('.joke').innerHTML = joke;
		this.querySelector('.joke-id').innerText = id;
	};
	// Registering custom element
	JokeItem = document.registerElement('joke-item', {prototype: JokeItemProto});
})();

</script>